.introduction {
  text-align: center;
  h1 {
    font-size: 28px;
    text-decoration: underline;
  }
  p {
    font-size: 20px;
    font-weight: bold;
  }
  span {
    font-size: 18px;
  }
}

//***** Pour les compétences *****//
//***** Aussi pour Acquis.jsx *****//

.acquis {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  svg {
    font-size: 35px;
    padding-top: 10px;
  }

  .html {
    color: #e44d26;
  }

  .css {
    color: #663399;
  }

  .js {
    color: #f7df1e;
  }

  .sass {
    color: #bf4080;
  }

  .react {
    color: #5cd9ff;
  }
}
